{% extends "network/layout.html" %}
{% load static %}
{% static 'network/styles.css' %}

{% block body %}



<div id="create_post_div">
 <h1>this create post page</h1>

     <form id="post-form">
      
          <textarea name="text_field" id="textarea"  placeholder="write your post here"></textarea> <br>
          <button id="form_button" type="submit">post</button>
     </form>
  
</div>

 

<div id="post_lister">
  <h1>this is post list page</h1>
  {% for post in page_obj %}
 <div id="all_posts">

              <div id="post_list">
                      
                      <a data-profile="{{user.id}}" id="username-link" href="">{{post.user.username}}</a> <br>
                      <h3>{{post.text_field}} </h3> <br>
                      <h3>{{post.date_created_On}} </h3> <br>
                      <a data-ID="{{post.id}}" id="btn-edit" href="">edit</a>
                      <div id="count-div"> <a data-ID="{{post.id}}" id="btn-like" href=""> like</a> <div id="like-image"></div></div>
                      <a data-ID="{{post.id}}" id="btn-unlike" href=""> unlike</a><br>
                      <a data-ID="{{post.id}}" id="btn-delete" href=""> Delete</a><br>
                      <button data-id="{{post.id}}" id="btn-comment">Comments</button>
              </div>

              <div id="comment-box">
                      <form id="comment-form">
                        
                      <div id=comment-1> <textarea name="comment" id="comment-area" cols="" rows="2" placeholder="comment"></textarea> </div> 
                      <div id="comment-2"><input type="submit" value="post" name="" id="comment-input"></div>
                    
                      </form>
                    
            

              <div id="comment-post">
                    
                    
              </div>
            </div>
</div>
{% endfor %}
<center>
<div>
  <span>
    {% if page_obj.has_previous %}
      <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}
    <span>
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>
    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">Next</a>
    {% endif %}
  </span>
</div>
</center>

</div>


<div id="following-post">   
      
            <div id="user-following">
            <h1>this is following pages r</h1>  
            <a data-ID="{{post.id}}" id="btn-edit" href="">edit</a>
            <div id="count-div"> <a data-ID="{{post.id}}" id="btn-like" href=""> like</a> <div id="like-image"></div></div>
            <a data-ID="{{post.id}}" id="btn-unlike" href=""> unlike</a><br>
            <a data-ID="{{post.id}}" id="btn-delete" href=""> Delete</a><br>
            <button data-id="{{post.id}}" id="btn-comment">Comments</button>
            </div>
       
</div>       
     
<div id="user-profile">
  <h1>this is user profile page</h1>
        <div id="follow-count">
      
          </div>
  
          


                 
                      <div id="user-name-div">
                        <h1 id="user_name">{{user_name}} </h1>
                      </div>
                      
                   <div id="follow-unfollow">
                        <div id="follow-button">
                          <a id="follow_link" href="">Follow</a>  
                        </div> 
                 
                

                    <div id="unfollow-button">
                   
                          <a id="follow_link" href="">Unfollow</a>   
                  
                    </div> 
          
              </div>
            <div id="post_list-1">
                  <h3>{{post.user.username}} </h3> <br>
                  <h3>{{post.text_field}} </h3> <br>
                  <h3>{{post.date_created_On}} </h3> <br>
                  <h3>{{post.comment}} </h3> 
              

                  <a data-ID="{{post.id}}" id="btn-edit" href="">edit</a>
                  <div id="count-div"> <a data-ID="{{post.id}}" id="btn-like" href=""> like</a> <div id="like-image"></div></div>
                  <a data-ID="{{post.id}}" id="btn-unlike" href=""> unlike</a><br>
                  <a data-ID="{{post.id}}" id="btn-delete" href=""> Delete</a><br>
                  <button data-id="{{post.id}}" id="btn-comment">Comments</button>
            </div>

            <div id="comment-box">
                  <form id="comment-form">      
                  <div id=comment-1> <textarea name="comment" id="comment-area" cols="" rows="2" placeholder="comment"></textarea> </div> 
                  <div id="comment-2"><input type="submit" value="post" name="" id="comment-input"></div>
                
                  </form>
            </div>
     
    
</div>


<div id=edit-post>
         <h1>this is edit page</h1>
                  <form id="post_form" action="" method="">
                  

                    <textarea name="text_field" id="textarea" >{{post.text_field}}</textarea> <br>
                    <button data-edit="form_button" type="submit">update</button>
                  </form>
             
</div>

 


{% endblock %}
