#form_button 
{background-color:rgb(85, 85, 114);}

.profile
{background-color:rgb(97, 97, 155);}

#textarea
    {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
        width:90%
    }
#post_list{
    background-color:green;
    border: 10px solid;
    padding: 25px;
    width:90%;
}
