#form_button 
{background-color:blue;}

.profile
{background-color:blue;}

#textarea
    {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
        width:100%
    }
